* {
    box-sizing: border-box;
}

html {
    background: #f3ece3;
}

.calculator {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
}

.configPanel {
    color: #3b3b3b;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    min-width: 260px;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 15px;
}

.configPanel div {
    display: flex;
    width: 100%;
}

.configPanel input {
    border: solid 2px #DAA06D;
    background: none;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    width: 70px;
    color: #3b3b3b;
}

.configPanel input::-webkit-outer-spin-button,
.configPanel input::-webkit-inner-spin-button {
    opacity: 1;
}

.configPanel label {
    margin-right: auto;
}

.costMatrix {
    width: max-content;
    margin: 25px auto 15px auto;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-columns: minmax(40px, auto);
    grid-column-gap: 15px;
}
.costMatrixText {
    color: #3b3b3b;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: auto 5px;
}

.costMatrixRow {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    width:auto;
    max-width:100%;
    margin: 5px;
}

.costMatrixCell {
    display: flex;
    width: 50px;
    min-height: 35px;
    margin: 5px;
    height: 100%;
    box-sizing: border-box;
}

.costMatrixCell input {
    width: 100%;
    margin: 2px;
    background: none;
    border: solid 2px #DAA06D;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: #3b3b3b;
}

.costMatrixCell input::-webkit-outer-spin-button,
.costMatrixCell input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.costMatrixCell input[type=number] {
    -moz-appearance: textfield;
}

.blockDesign {
    outline: none;
    color: #DAA06D;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
}

.headBlock {
    width: max-content;
    height: max-content;
    margin: 10px auto 0 auto;
}

.mainButton {
    margin: 15px auto;
    height: max-content;
    width: 220px;
    justify-content: center;
    padding: 1em;
    display: flex;
    outline: none;
    color: #3b3b3b;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
}

.buttonsRow {
    display: flex;
    align-items: center;
}

.mainButton:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

.result {
    color: #3b3b3b;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 20px;
    margin: 20px;
    outline: none;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
}

.table {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-columns: minmax(40px, auto);
    border: #3b3b3b solid 1px;
    margin: 0;
    color: #3b3b3b;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

.tableRow {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tableCell {
    margin: 0;
    display: flex;
    min-width: max-content;
    width: 100%;
    border: #3b3b3b solid 1px;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
}

.input_button {
    margin: 15px auto;
    height: max-content;
    width: 220px;
    justify-content: center;
    padding: 1em;
    display: flex;
    outline: none;
    color: #3b3b3b;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
}

.input_button:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

.input_button_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.tab {
    display: inline-block;
    margin-left: 2em;
}