* {
    box-sizing: border-box;
}

html {
    background: #f3ece3;
}

.box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-input {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    color: #3b3b3b;
    padding: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    align-items: center;
}

.equation-showcase {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 8;
}

.calculator-input input[type = text] {
    grid-column-start: 1;
    grid-column-end: 8;
}

.calculator-input button {
    min-width: 40px;
    max-height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b3b3b;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 2px ;
    border-radius: 5px;
}

.double-button {
    grid-column-start: 6;
    grid-column-end: 8;
}

.skip {
    display: none;
}